body {
    font-family: 'Open Sans', sans-serif;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}
.marker-info-window {
	white-space:nowrap;
}
	.marker-info-window h4 {
		font-weight: 300;
	}
.angular-google-map-container {
    width: 100%;
    height: 600px;
}

.google-map-border {
	padding: 12px;
	margin-bottom: 20px;
	background: #5e89c6;
    background-image:
   		linear-gradient(to right, #5e89c6, #1d62bd);
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 2px 2px 3px 0 #333333;
	-moz-box-shadow: 2px 2px 3px 0 #333333;
	box-shadow: 2px 2px 3px 0 #333333;

}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}
.search-form-container {
	/*background: url(../images/toyota_prius_bg.png) no-repeat 75%; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/*background-size: cover;*/
	padding-left: 0px;
}
.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: rgba(0,0,0,0.6);
	border: 5px solid #86A4D1;
	border-radius: 15px;
	color: #fff;
}
.no-padding-left {
	padding-left: 0px;
}
.header-logo {
	display: block;
	width: 114px;
	height: 40px;
	margin: 0 auto;
	background: url('../images/pin_smove_tag_40.png') 0 0 no-repeat;
	margin-top: 10px;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/*
	.container {
		max-width: 730px;
	}
	*/

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

