<!--
<div class="jumbotron">
	<h2>Welcome to smove's JSChallenge!</h2>
	<p class="lead">
	Now it's your turn.</br>
	Blow us away with your awesomeness.
	</p>
	<p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
	<p>ps. go have a look at main.js for the api call</p>
</div>
-->

<div class="row">

	<div class="col-md-6">
		<div class="highlight" ng-controller="DatetimePickerController">
		<form name="searchForm"  ng-submit="submit(searchForm.$valid)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : searchForm.pickupDate.$invalid && !searchForm.pickupDate.$pristine }">
				<label for="pickupDate">Pickup</label>
				<p class="input-group">
            		<input type="text" name="pickupDate" class="form-control" datepicker-popup="{{format}}" ng-model="pickupDate" is-open="dpOpened.pickupOpened" min-date="minPickupDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            		<span class="input-group-btn">
        				<button type="button" class="btn btn-default" ng-click="open($event, 'pickupOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
				<p>

					 <timepicker ng-model="pickupTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            	</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : searchForm.returnDate.$invalid && !searchForm.returnDate.$pristine }">
				<label for="returnDate">Return</label>
				<p class="input-group">
            		<input type="text" name="returnDate" class="form-control" datepicker-popup="{{format}}" ng-model="returnDate" is-open="dpOpened.returnOpened" min-date="pickupDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            		<span class="input-group-btn">
        				<button type="button" class="btn btn-default" ng-click="open($event, 'returnOpened')"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
				<p>
					 <timepicker ng-model="returnTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            	</p>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		</div>
	</div>
	<div class="col-md-6">
	 	
	</div>
</div>
