<div class="marker-info-window">
	<div ng-cloak>
		<h4>{{ parameter.message.title }}</h4>

		<p>Available cars: <strong>{{ parameter.message.cars_available }} </strong></p>

		<p>Distance: <strong>{{ parameter.message.distance }}</strong> </p>

		<p>
			<a href="https://www.google.com/maps/dir/{{ parameter.message.position.lat }},{{ parameter.message.position.lon }}/{{ parameter.message.user_position.lat }},{{ parameter.message.user_position.lon }}" target="_blank" class="btn btn-primary btn-sm">
				<i class="glyphicon glyphicon-flag"></i> 
				Get directions
			</a>
		</p>
	</div>
</div>